<div ng-include="'/app/view/html/views/dashboard/summary.html'"></div>
 <scriptr-grid columns-definition='vm.logsColDef' 
           api='app/api/getDeviceHistory'
           api-params='vm.gridParams'
           enable-delete-row='false'
           row-model-type='virtual'
           row-height='30'    
           pagination="true"   
           grid-height='calc(100vh - 200px)'    
           enable-add-row='false'
           cell-editable='false'
           suppress-filter="true"    
           enable-client-side-filter='false'
           enable-server-side-filter='false' 
           enable-client-side-sorting='false'
           enable-server-side-sorting='false'
           row-model-selection='multiple'
           pagination-page-size='100'
           on-format-data="vm.logsFormatData"    
           transport='https'>
  </scriptr-grid>