  <div class="col-xs-12">
    <!-- begin row -->
    <div class="row">
      <!-- begin summary -->
      <div class="col-xs-12 panel stuck summary radius0 pdb2">
        <section>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="icon bg-grey text-center" ng-bind-html="vm.icons.id"></div>
            <strong>Device Id</strong>  
            <div class="nb fnt16">{{vm.selectedObject.id}}</span>&nbsp;<span ng-if="!vm.selectedObject"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
          </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icon bg-blue text-center" ng-bind-html="vm.icons.building"></div>
          <strong>Building</strong>  
          <div class="nb fnt16">{{vm.selectedObject.building}}<span ng-if="!vm.selectedObject"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icon bg-orange text-center" ng-bind-html="vm.icons.containerType"></div>
          <strong>Type</strong>  
          <div class="nb fnt16">{{vm.selectedObject.type }}<span ng-if="!vm.selectedObject"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="icon bg-yellow text-center" ng-bind-html="vm.icons.time"></div>
          <strong>Date & time</strong>  
          <div class="nb fnt16">{{vm.selectedObject.timestamp | date:'MM/dd/yyyy hh:mm:ss'}}<span ng-if="!vm.selectedObject"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span></div>
        </div>
        </section>
    </div>
  </div> 
 </div>