<scriptr-map
             sources-info="vm.sources"
             clustered-view="true"
             cluster-zoom="8"
             path-stroke-opacity="0.5"
             path-stroke-weight="10"
             summary-icons="vm.icons"
             api="app/api/getLatestDevices"
             api-params="{}"
             msg-tag="live_map_data"
             geofence-manager="false"
             bounce="true"
             on-select-asset="vm.onSelectAsset"
             set-marker-icon="vm.setMarkerIcon"
             max-asset-points=1>
  <div>
    <info-window id="infoWindowTemplate_simulator" template="/app/view/html/views/map/info_simulator.html" max-width="600"></info-window>
    <info-window id="infoWindowTemplate_fe" template="/app/view/html/views/map/info_simulator.html" max-width="600"></info-window>  
</scriptr-map>
